<ion-content>

  <ion-slides class="center" pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-title class="title">Advanced Resistive Exercise Device (ARED)</ion-card-title>
        <br>
        <img src="assets\images\ared.jpg" class="picframe">
        <ion-card-content>
<b>Target:</b> This device aims towards muscle groups to sustain the strength of the astronaut's muscle and density of their bones.
 It's used for full body workouts. 
 <br>
 <b>Special Features:</b> This device is similar to free weights utilized on earth and it incorporates vacuum cylinders which exert up to 272 kilos of resistance on a bar or cable.
        </ion-card-content>
      </ion-card>
    </ion-slide>





    <ion-slide>
      <ion-card>
        <ion-card-title class="title">Treadmill</ion-card-title>
          <br>
          <img src="assets\images\treadmill.jpg" class="picframe">
        <ion-card-content>
          <b>Target:</b> Cardiovascular, muscular and skeletal.
          <br>
          <b>Special Features:</b> Theres a load on the shoulders and hips due to bungee and harness. The load depends on the body mass of the astronaut. During the beginning of the mission, load is around 60% of the body mass of the astronaut and is increased throughout up until it's 85%-100% of the weight. Walking maintains the health in the bones and muscles.        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title class="title">Stationary Bike also called Cycle Ergometer </ion-card-title>
        <br>
        <img src="assets\images\StationaryBike.jpg" class="picframe">
        <ion-card-content>
          <b>Target:</b> Cardiovascular.
          <br>
          <b>Special Features:</b> It measures fitness in space and monitors heart rate and progress.        </ion-card-content>
      </ion-card>
    </ion-slide>

    
  </ion-slides>


</ion-content>