<ion-content>

    <ion-title class="title">Leave aside your worries and 
      <br>calm your mind!</ion-title>

  <ion-card>
  <ion-list class="bgl">
    <ion-item color="none" lines="none">
      <ion-label>Soothing Sounds</ion-label>
      <ion-select value="Beach" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Rain">Rain</ion-select-option>
        <ion-select-option value="Beach">Beach</ion-select-option>
        <ion-select-option value="Nature">Nature</ion-select-option>
        <ion-select-option value="Park">Park</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="none" lines="none">
      <ion-label>Soft Music</ion-label>
      <ion-select value="Paino" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Paino">Piano</ion-select-option>
        <ion-select-option value="Violin">Violin</ion-select-option>
        <ion-select-option value="Harp">Harp</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="none" lines="none">
      <ion-label>Recorded Videos</ion-label>
      <ion-select value="LivingRoom" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="LivingRoom">Living Room</ion-select-option>
        <ion-select-option value="FamilyGathering">Family Gathering</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
  </ion-card>
</ion-content>