ion-content {
    --background: url("../../assets/images/sleep.jpg") 0 0/100% 100% no-repeat;
  }

ion-label{
    text-align: center;
    font-family:  Helvetica;
   font-size: 50px;     
   color:cadetblue;
   font-weight: 100;
   background-color:white;;
   width: fit-content;
   }