

<ion-content>
  <ion-title>Positivity</ion-title>

  <br>
  <br>
  <br>
  <br>
  <ion-label>
    <br>
<br>
<br>
<br>
  </ion-label>

<ion-slides class="center" pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card>
      <img src="assets\images\nasa1.jpg" class="picframe">

    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets\images\nasa2.jpg" class="picframe">
    </ion-card>
  </ion-slide>


  <ion-slide>
    <ion-card>
      <img src="assets\images\nasa3.jpg" class="picframe">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets\images\nasa5.jpg" class="picframe">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets\images\nasa4.jpg" class="picframe">
    </ion-card>
  </ion-slide>
</ion-slides>
<br>
<ion-label>
  Just like those before you, you can  </ion-label> <br>
  <ion-label> also achieve greatness & success.</ion-label><br>
  <ion-label>Your work is valued.</ion-label>


<br>
<br>
<br>
<br>
<ion-label class="mystery">
<img src="assets\images\box.png" width="150px" height="150px" >
<br>
</ion-label>
<br>
<ion-label class="txt">
  Open Mystery Box For A Surprise!

</ion-label>
</ion-content>
