

<ion-content>  
  <ion-title>Nutrition</ion-title>
  <br>
  <br><br>
  <br><br>
  <br>
 <ion-label>
   <ion-item>
     <strong>Breakfast</strong>
     <br>
     <br>
     <br>  </ion-item>
<ion-item id="txt">

   <p>Fruits, nuts, and/or peanut butter with drinks like coffee, tea, orange juice or lemonade.</p>
   </ion-item>
   <br>  

  </ion-label>
<br>
<br>
  <ion-label>
    <ion-item>
      <strong>Lunch</strong>
      <br>
      <br><br>
      <br>
    </ion-item>
    <ion-item id="txt">

     <p> chicken or beef or seafood, and/or macoroni with orange juice or lemonade.</p>
     </ion-item>
      <br>  
   </ion-label>
   <br>
<br>

   <ion-label>
    <ion-item>
      <strong>Dinner</strong>
      <br>
      <br><br>
      <br>
    </ion-item>
    <ion-item id="txt">
      <p>chicken or beef or seafood, and/or macoroni with orange juice or lemonade with brownies or fruits for desert. </p>
    </ion-item>
      <br>  

   </ion-label>  
</ion-content>
